<div class="overflow-auto mb-20 mt-8 p-12 flex justify-center">
    <div data-controller="shopping-list">
      <form data-action="submit->shopping-list#add">
        <div class="flex items-center mt-8">
          <input type="text" data-shopping-list-target="input" placeholder="Add new item"
          class="input input-bordered input-primary w-full max-w-xs">

          <button class="btn btn-primary ml-4" type="submit"><i class="fa-solid fa-plus fa-xl" style="color: #000000;"></i></button>
        </div>
      </form>

      <div class="card bg-base-100 shadow-xl p-8 mt-8 text-center">
        <h2 class="card-title"> Shopping List: </h2>
        <ul data-shopping-list-target="items">
        </ul>
      </div>
    </div>
</div>
