<div role="tablist" class="tabs tabs-boxed fixed inset-x-0 bottom-0 m-6">
  <a role="tab" class="tab p-8 tab-active"><i class="fa-solid fa-house fa-xl" style="color: #000000;"></i></a>
  <a role="tab" class="tab p-8"><i class="fa-solid fa-wand-magic-sparkles fa-xl" style="color: #000000;"></i></a>
  <a role="tab" class="tab p-8"><i class="fa-solid fa-plus fa-xl" style="color: #000000;"></i></a>
  <a role="tab" class="tab p-8"><i class="fa-solid fa-book fa-xl" style="color: #000000;"></i></a>
  <a role="tab" class="tab p-8"><i class="fa-solid fa-list fa-xl" style="color: #000000;"></i></a>
</div>
