<div role="tablist" class="tabs tabs-boxed sticky bottom-4">
  <a role="tab" class="tab">Tab 1</a>
  <a role="tab" class="tab tab-active">Tab 2</a>
  <a role="tab" class="tab">Tab 3</a>
  <a role="tab" class="tab">Tab 4</a>
  <a role="tab" class="tab">Tab 5</a>
</div>
